<launch>
<node pkg="eecs376_vision_demo1" type="vision_demo" name="demo_node" output="screen">
    <!-- remap from="image" to="camera/image_raw" /-->
    <remap from="image" to="/front_camera/image_rect_color"/>
</node>

<node pkg="image_view" type="image_view" name="demo_image_viewer" output="screen">
    <remap from="image" to="demo_image" />
</node>

<node pkg="image_view" type="image_view" name="input_image_viewer" output="screen">
    <remap from="image" to="/front_camera/image_rect_color" />
</node>

</launch>
