<launch>

	<!-- Launch local nodes -->
	<node name="lidar" pkg="delta" type="lidar" output="screen"/>
	<node name="camera" pkg="delta" type="camera" output="screen">	
    		<remap from="image" to="/front_camera/image_rect_color"/>

    		<remap from="camera_info" to="/front_camera/camera_info"/>
	</node>
	<node name="goalpublisher" pkg="delta" type="goalpublisher" output="screen"/>
	<node name="mapper" pkg="delta" type="mapper" output="screen"/>
	<node name="planner" pkg="delta" type="planner" output="screen"/>
	<node name="desiredpathcrawler" pkg="delta" type="desiredpathcrawler" output="screen"/>
	<node name="profiler" pkg="delta" type="profiler" output="screen"/>
	<node name="steering" pkg="delta" type="steering" output="screen"/>

	<!-- Load parameter file -->
	<rosparam command="load" file="$(find delta)/delta_params.yaml" />
</launch>

